.root
{
	-fx-background-color: linear-gradient(#efefef, #e5e5e5);	
}


#ROOTNODE {

-fx-background-color: rgba(0,0,0,0.8);
}


#title{
	-fx-font: 40px Tahoma;
    	-fx-top:0;
    	-fx-stroke: black;
    	-fx-stroke-width: 1;
    	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#Kaart {
	-fx-background-color: transparent;

}

#Kaart:hover {
	-fx-background-color: rgba(255,255,255,0.3);
	-fx-border-radius: 35 35 35 35;
  	-fx-background-radius: 35 35 35 35;
-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.8) , 5, 0.0 , 0 , 1 );
}